.Gallery img{
    width: 100%;
}
.bmw img{
    width: 25%;
}
.golf7 img{
    width: 25%;
}
.i30 img{
    width: 25%
}
.merc img{
    width: 25%
}
.toyota img{
    width: 25%
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 800;
    color:teal;
    text-decoration: underline;
}

h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color:grey;
    text-decoration:double;
}
}
th{
    font-family:sans-serif;
    font-size: 15px;
    font-weight:900;
    color:slategray 
}
td{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    color:royalblue;  
} 
b{
    color:slategray;
    text-decoration: underline;
    font-weight:900;
    font-size: 15px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:royalblue;
}
#menu{
    width:100%;
    height:40px;
    background-color:teal;
    padding-top: 12px;
}
#menu a{
    color:cyan;
    font-family:cursive;
    font-size: 30px;
    text-decoration:overline;
    font-weight: 900;

    padding-left: 20px;
    padding-right: 20px;
}
#menu a:hover{
    color:deepskyblue;
}